.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.id,
.name{
    margin: 10px;
}

.input,
.button{
    margin: 10px;
}

.button{
        border-radius: 0.25rem;
        --tw-bg-opacity: 1;
        background-color: rgb(252 165 165 / var(--tw-bg-opacity));
        padding: 0.25rem;
        --tw-text-opacity: 1;
        color: rgb(127 29 29 / var(--tw-text-opacity));
        outline-style: solid;
        outline-width: 2px;
        outline-color: #fca5a5;
}

.button:hover{
    background-color: #fbd5d5;
}